$primary-color: #3A1078;
$secondary-color: #4E31AA;
$tertiary-color: #3795BD;

@font-face {
  font-family: 'Orbitron';
  src: url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1d1f20;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 100%;

    label {
      font-size: 1.2rem;
      margin-right: 1rem;
    }

    input[type="text"] {
      font-size: 1.2rem;
      padding: 0.5rem;
      margin-right: 1rem;
      border: none;
      border-radius: 0.25rem;
      width: 100%;
      max-width: 25rem;
    }

    select {
      font-size: 1.2rem;
      padding: 0.5rem;
      margin-right: 1rem;
      border: none;
      border-radius: 0.25rem;
      background-color: #fff;
      color: #333;
      appearance: none;
      max-width: 15rem;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .table {
    margin-top: 2rem;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        background-color: $secondary-color;
        color: #fff;
        text-align: left;
        padding: 1rem;
        font-weight: normal;
      }

      td {
        border: 1px solid #ddd;
        padding: 1rem;

        a {
          color: $tertiary-color;
        }
      }
    }
  }

  .relatedKeywords {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80rem;
  
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
      color: white;
    }
  
    button {
      margin: 0.5rem;
      background-color: #F5F5F5;
      border: none;
      border-radius: 20px;
      color: #333;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #333;
        color: #F5F5F5;
        cursor: pointer;
      }
    }
  }
  .card {
    background-color: #1d1f20;
    border-radius: 5px;
    border: 1px solid $primary-color;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    
    &::before {
      content: "•";
      margin-right: 0.5rem;
      color: $primary-color;
    }
  }
}